networks:
  infra:
    name: infra
    external: true

services:
  homepage:
    image: ghcr.io/gethomepage/homepage:latest
    container_name: homepage
    restart: unless-stopped
    networks: [infra]
    user: 1000:1000
    ports:
      - "3000:3000"
    environment:
      - HOMEPAGE_TITLE=Pi Home
      - TZ=Europe/Paris
      - HOMEPAGE_LANG=en
      - HOMEPAGE_ALLOWED_HOSTS=*
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./config:/app/config
      - ./icons:/app/public/icons
      - /mnt/hdd_backup:/mnt/hdd_backup:ro
      - /mnt/hdd_primary:/mnt/hdd_primary:ro
      - /mnt/ssd_crucial:/mnt/ssd_crucial:ro
      - /mnt/ssd_primary:/mnt/ssd_primary:ro
