.bash_history
.bash_logout
.bashrc
.config/
.gitconfig
.lesshst
.local/
.profile
.selected_editor
.ssh/
.sudo_as_admin_successful
.viminfo
.wget-hsts
.zed_server/
pironman5/
samba_file_browser/filebrowser-db/
trilium/trilium-backup.tar.gz
trilium/trilium-data/
.cache/
borg/.immich_backup.env
.trilium_backup.env
.env
borg/.shares_backup.env
backup_log/
.vaultwarden_backup.env
vaultwarden/vw-data/
webdav_file_browser/filebrowser-db/
paperless-*
.paperless_backup.env
jellyfin/cache/
jellyfin/config/
qbittorrent/config
gluetun
fb-public-config
fb-public-db
webdav_file_browser/fb-secret-config/
webdav_file_browser/fb-secret-db/
.zed/
firefox/
actual/data/
.actual_backup.env
calibre/config/
calibre/cron.log
komga/database.sqlite
komga/database.sqlite-shm
komga/database.sqlite-wal
komga/logs/
komga/lucene/
komga/tasks.sqlite
komga/tasks.sqlite-shm
komga/tasks.sqlite-wal
.vim/
.msmtp.log
.msmtprc
.streamlit/
budget-prorata/historique_budget.csv
budget-prorata/venv/
homebase/config/logs
