.bash_history
.bash_logout
.bashrc
.config/
.gitconfig
.lesshst
.local/
.profile
.selected_editor
.ssh/
.sudo_as_admin_successful
.viminfo
.wget-hsts
.zed_server/
pironman5/
samba_file_browser/filebrowser-db/
trilium/trilium-backup.tar.gz
trilium/trilium-data/
.cache/
borg/.immich_backup.env
.trilium_backup.env
.env
borg/.shares_backup.env
