services:
    webdav:
        image: derkades/webdav
        container_name: webdav-public
        volumes:
            - /mnt/hdd_primary/media/livre/News:/data
        ports:
            - "8185:80"
        environment:
            USERNAME: admin
            PASSWORD: admin
        restart: unless-stopped

    filebrowser-public:
        image: filebrowser/filebrowser:latest
        container_name: filebrowser-public
        # Either run as your user:
        user: "1000:1000"
        command:
            [
                "--database",
                "/database/filebrowser.db",
                "--noauth",
                "--root",
                "/data",
            ]
        ports:
            - "8085:80"
        volumes:
            - /mnt/ssd_primary/public_share:/data
            - /mnt/hdd_primary/media:/data/media
            - ./fb-public-db:/database
            - ./fb-public-config:/config
        environment:
            - TZ=Europe/Paris
            - FB_NOAUTH=true
        restart: unless-stopped

    filebrowser-secret:
        image: filebrowser/filebrowser:latest
        container_name: filebrowser-secret
        user: "1002:1002"
        command: ["--database", "/database/filebrowser.db", "--root", "/data"]
        ports:
            - "8087:80"
        volumes:
            - /mnt/hdd_primary/secret:/data
            - ./fb-secret-db:/database
            - ./fb-secret-config:/config
        environment:
            - TZ=Europe/Paris
        restart: unless-stopped
