services:
  pihole:
    container_name: pihole
    image: pihole/pihole:latest
    hostname: pihole-docker
    ports:
      - "53:53/tcp"     # DNS traffic
      - "53:53/udp"     # DNS traffic
      - "8685:80/tcp"   # Web Interface (http://<IP>:8685/admin/)
    environment:
      - TZ=Europe/Paris
      - FTLCONF_webserver_api_password=
      - FTLCONF_dns_listeningMode=ALL

    volumes:
      - './etc-pihole:/etc/pihole'
      - './etc-dnsmasq.d:/etc/dnsmasq.d'

    cap_add:
      - NET_ADMIN
    restart: unless-stopped
