services:
  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    restart: unless-stopped
    ports:
      # Exposes the API on port 8080
      - 9234:8080
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - WATCHTOWER_CLEANUP=true
      - WATCHTOWER_SCHEDULE=0 0 6 * * *
      - TZ=Europe/Paris

      # --- NEW CONFIGURATION FOR HOMEPAGE ---
      # Enables the metrics endpoint required by Homepage
      - WATCHTOWER_HTTP_API_METRICS=true
      # Define your own secret key (replace 'mysecrettoken' with whatever you want)
      - WATCHTOWER_HTTP_API_TOKEN=mysecrettoken
